.app-header {
    position: sticky;
    top: 0;
    height: 80px;
    background-color: white;
    line-height: 1.25rem;
    box-shadow: 0 .1px 0 0;
    // padding-block-start: em(80px);
    z-index: $z-index-high;

    &.hosting{
        display: none;
    }

    .header-container {
        display: grid;
        grid-template-columns: auto 1fr auto;
    }

    &.details {
        position: relative;
        cursor: pointer;
    }

    &.book {
        position: relative;

        .header-container {
            width: 100%;
            grid-column: 1/-1;
            padding-inline-start: rem(24px);
        }

        .logo {
            justify-self: start;
        }

        .user-menu,
        .mini-filter,
        .profile {
            display: none;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        height: 80px;
        right: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 .1px 0 0;
        z-index: -1;
        transition: transform 250ms ease;
        transform: initial;
    }

    &.header-wide::after {
        transform: scaleY(3.3);
        /* Expanded state */
        border-bottom: none;
    }


    .profile {
        display: flex;
        align-items: center;
        justify-self: end;
        // padding-inline-start: em(140px);
    }

    .logo {
        display: flex;
        align-items: start;
        color: $bnb-red;
        // flex-grow: 0.5;
        align-items: center;
        flex-grow: 1;

        &:hover {
            text-decoration: none;
        }

        p {
            font-size: 1.4286rem;
            font-weight: 700;
            margin-block-start: rem(5px);
        }


        .logosymbol {
            margin-block-start: rem(1px);
        }
    }

    .user-menu {
        display: flex;
        align-items: center;
        width: rem(86px);
        height: rem(48px);
        padding: rem(8px) rem(8px) rem(8px) rem(14px);
        column-gap:
            rem(12px);
        transition: box-shadow 0.2s ease-in-out;
        border: 1px solid $bnb-gray3;
        border-radius: 30px;
        cursor: pointer;
        position: relative;





        &:hover {
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
        }

        // .user-avatar-logout{
        //     z-index: 10000000000;

        // }

        // img {
        //     height: rem(32px);
        //     width: rem(32px);
        //     border-radius: 100%;
        // }
    }

    .language-link {
        display: none;
        border-radius: 1.5714rem;
        padding: .75rem;

        &:hover {
            background-color: $bnb-gray2;
        }
    }

    .host-link {
        border-radius: 1.5714rem;
        padding: .8571em;
        font-size: 14px;
        font-weight: 500px;
        color: black;
        // font-family: $bnb-font-bold;


        &:hover {
            background-color: $bnb-gray2;
            text-decoration: none;
        }
    }


}

.hidden{
    display: none;
}