.details-header {
    display: flex;
    font-size: rem(14px);
    margin-block: em(22px);
    line-height: rem(18px);

    .add-to-favorites {
        font-weight: 500;
        display: flex;
        margin-block-start: em(5px);
        column-gap: em(13px);


        .icon-wrapper {
            display: flex;
            padding: em(8px);
            border-radius: rem(8px);
            height: min-content;

            :nth-child(2) {
                padding-inline-start: em(6px);

            }

            &:hover {
                cursor: pointer;
                background-color: $bnb-gray2;
            }

            :last-child {
                text-decoration: underline;
            }
        }
    }
}

.details-image-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(rem(167px), rem(280px))) repeat(2, minmax(rem(159px), rem(272px)));
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "img1 img1 img2 img3"
        "img1 img1 img4 img5";
    gap: 8px;
    overflow-x: clip;
    overflow-y: clip;

    >li {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    >li:first-child {
        grid-area: img1;

        img {
            border-radius: 10px 0 0 10px;
        }
    }

    >li:nth-child(2) {
        grid-area: img2;
    }

    >li:nth-child(3) {
        grid-area: img3;

        img {
            border-radius: 0 10px 0 0;
        }
    }

    >li:nth-child(4) {
        grid-area: img4;
    }

    >li:nth-child(5) {
        grid-area: img5;

        img {
            border-radius: 0 0 10px 0;
        }
    }
}