.guests-container{
    text-align: left;
    box-shadow:   rgba(0, 0, 0, 0.15) 0px 3px 12px 0px;
  
  padding: em(28px,14px) em(32px,14px) em(16px,14px) em(32px,14px);
  border-radius: em(32px,14px);

  .guests-layout{

    display: grid;
    grid-template-rows: repeat(4,minmax(0,1fr));
padding-left: em(6px,14px);
padding-right: em(6px,14px);
min-width: em(330px,14px);

.guests-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
  gap: em(10px,14px);
  border-bottom: solid 1px rgb(235, 235, 235);
  padding-block-start: em(24px,14px);
  padding-block-end: em(24px,14px);
  padding-inline-end: em(4px,14px);

  .guests-counter{
    // display: flex;
  }

    }

  }

}