// .guests-container{
//     text-align: left;
//     box-shadow:   rgba(0, 0, 0, 0.15) 0px 3px 12px 0px;
  
//   padding: em(28px,14px) em(32px,14px) em(16px,14px) em(32px,14px);
//   border-radius: em(32px,14px);

//   .guests-layout{

//     display: grid;
//     grid-template-rows: repeat(4,minmax(0,1fr));
// padding-left: em(6px,14px);
// padding-right: em(6px,14px);
// min-width: em(330px,14px);

// .guests-card{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   gap: em(10px,14px);
//   border-bottom: solid 1px rgb(235, 235, 235);
//   padding-block-start: em(24px,14px);
//   padding-block-end: em(24px,14px);
//   padding-inline-end: em(4px,14px);

//   .guests-counter{
//     // display: flex;
//   }

//     }

//   }

// }

.add-guests-modal {
  position: absolute;
  box-shadow: 0 0 0 1px #0000000a, 0 8px 16px #00000026;
  top: 11px;
  left: calc(870px/2);
  width: 403px;
  // right: calc(50% - 425px);
  height: 410px;
  padding: 20px 38px;
  border-radius: 32px;
  z-index: 8;
  background-color: #fff;
  display: grid;
  gap: 1px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  font-size: 12px;
  cursor: auto;


  
  &>*:not(:nth-last-child(2)):not(:last-child) {
    content: "";
    border-bottom: 1px solid #ebebeb;
    grid-row: span 1;
  }

  & .add-guests-modal-p {
    font-size: 14px;
  }

  & .add-guests-modal-p.pet {
    text-decoration: underline;
    font-weight: 500;
  }

  & .add-guests-modal-btns {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;

    .add-guest-btn {
      display: flex;
      align-items: center;
      background-color: #fff;
      color: $clr4;
      border: 1px solid;
      border-color: #b0b0b0;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      margin: 5px;
      cursor: pointer;
    }

    .add-guest-btn:hover {
      border-color: black;
    }

    & .add-guest-num {
      align-self: center;
      height: 30px;
      font-size: 15px;
      display: flex;
      align-items: center;
    }

    .add-guest-btn.disabled {
      cursor: auto;
      border-color: #ebebeb;
    }

    .add-guest-btn:first-child {
      padding-left: 12.5px;
    }

    .add-guest-btn:last-child {
      padding: 3.5px 0 0 10.5px;
    }
  }
}
// }