.reviews-wrapper {
    padding-block-end: em(40px);
    margin-block-end: em(40px);

    .review-info {
        font-family: 'Airbnb Cereal VF-B',
            sans-serif;
        display: flex;
        margin-block-start: em(8px);
        font-size: rem(26px);
        padding-block-start: em(46px);
        padding-block-end: em(40px);
        border-block-start: 1px $bnb-gray3 solid;

        span:first-of-type {
            :first-child {
                margin-block-start: em(3px);
                margin-inline-end: em(8px);
                height: rem(20px);
                width: rem(20px);
            }
        }

        span {
            display: flex;
        }

        >* {
            margin-inline-end: em(4px);
        }

        >:last-child {
            text-decoration: none;
        }
    }

    .reviews-ratings {
        padding-block-end: em(40px);
        margin-block-end: em(40px);
        border-block-end: 1px $bnb-gray3 solid;

        .reviews-ratings-list {
            display: flex;
            padding-block-end: em(4px);
            // justify-content: space-between;

            li {
                width: rem(158px);

                span {
                    font-size: rem(14px);
                    font-weight: 600;
                    // padding-block-end: 8px;
                }

                :first-child {
                    font-family: 'Airbnb Cereal VF-L';
                    font-weight: 600;
                    font-size: rem(14px);
                }
            }



            li:first-of-type {
                ul {
                    padding-inline-end: em(32px);
                    padding-block-start: em(8px);

                    li {
                        display: flex;
                        align-items: center;
                        // height: min-content;

                        span {
                            font-size: rem(12px);
                            font-weight: 400;
                            padding-block-start: em(2px);
                            padding-inline-end: em(8px);
                        }

                        >div {
                            width: rem(124px);
                            background-color: $bnb-gray3;
                            border-radius: 10px;
                            height: rem(4px);
                        }


                    }

                    li:first-of-type {
                        div {
                            .fill-bar {
                                border-radius: 10px;
                                width: 90%;
                                height: 100%;
                                background-color: $bnb-black;
                            }
                        }
                    }

                    li:nth-of-type(2) {
                        div {
                            .fill-bar {
                                border-radius: 10px;
                                width: 10%;
                                height: 100%;
                                background-color: $bnb-black;
                            }
                        }
                    }
                }
            }

            >:not(li:first-of-type) {
                padding-inline: em(24px);
                border-inline-start: 1px $bnb-gray3 solid;

                >div:nth-child(2) {
                    font-size: rem(18px);
                    font-weight: bold;
                    margin-block-end: em(26px);
                }
            }
        }

    }

    .review-list-wrapper {

        .review-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            // column-gap: 32px;

            li {
                // padding-block: 8px;
                margin-block-end: em(10px);
                height: rem(226px);
                width: rem(473px);
                text-wrap: wrap;
                text-overflow: ellipsis;

                img {
                    width: rem(40px);
                    height: rem(40px);
                    border-radius: 100%;
                    margin: 0;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .review-header {
                    display: flex;
                    align-items: center;
                    column-gap: em(14px);
                    padding-block-end: em(12px);

                    .by-review {
                        :first-child {
                            font-weight: 600;
                        }
                    }

                }



                .star-rating {
                    display: flex;
                    align-items: center;
                    padding-block-end: em(4px);

                    >* {
                        padding-inline: em(3px);
                        font-size: rem(14px);
                    }

                    :first-child {
                        display: flex;
                        height: rem(9px);
                        width: rem(9px);
                    }

                    i {
                        padding: 0;
                    }

                    span:nth-of-type(2) {
                        font-weight: 600;
                    }

                    span:nth-of-type(3),
                    span:nth-of-type(4) {
                        font-weight: 400;
                    }

                    span:nth-of-type(1),
                    span:nth-of-type(3),
                    span:nth-of-type(4) {
                        color: $bnb-gray4;
                    }
                }
            }
        }
    }
}