.stay-info {
    // position: relative;
    display: grid;
    grid-template-columns: minmax(rem(200px), rem(653.33px)) 1fr;

    h2 {
        font-size: rem(22px);
        padding-block-end: 4px;
        margin: 0;
    }

    .info-header {
        padding-block: em(32px);

        ul {
            display: flex;

            >* {
                display: flex;
                justify-self: center;
                margin-inline-end: em(1px);
            }

        }

        .review-info {
            font-family: 'Airbnb Cereal VF-B',
                sans-serif;
            display: flex;
            margin-block-start: em(8px);

            span:first-of-type {
                :first-child {
                    margin-block-start: em(1px);
                    margin-inline-end: em(1px);
                    width: rem(16px);
                    height: rem(16px);
                }
            }

            span {
                display: flex;
            }

            >* {
                margin-inline-end: em(4px);
            }

            >:last-child {
                text-decoration: underline;
            }
        }
    }

    .about-host {
        display: flex;
        align-items: center;
        grid-column: 1;
        padding-block: em(24px);
        border-block: 1px $bnb-gray3 solid;

        .host-img {
            width: fit-content;
            height: fit-content;
            margin-inline-end: em(24px);
        }

        img {
            width: rem(40px);
            height: rem(40px);
            border-radius: 100%;

            &:hover {
                cursor: pointer;
            }
        }

        >:nth-child(2) {
            display: flex;
            flex-direction: column;

            span:first-of-type {
                font-weight: 500;
                font-family: 'Airbnb Cereal VF-B', sans-serif;
            }

            span:last-of-type {
                font-size: rem(14px);
                color: $bnb-gray4;
            }
        }
    }

    .about-host-summary {
        grid-column: 1;
        padding-block: em(9px);
        border-block-end: 1px $bnb-gray3 solid;

        >* {
            border-block: 0;
            margin-inline-start: em(6px);

            >:first-child {
                margin-block-end: em(10px);
            }

            >:nth-child(2) {
                margin-inline-start: em(8px);
            }
        }

        .about-host {
            >:nth-child(2) {
                >span:first-of-type {
                    margin-block-end: em(4px);
                }
            }
        }
    }

    .stay-description {
        padding-block-start: em(32px);
        padding-block-end: em(48px);
        border-block-end: 1px $bnb-gray3 solid;

        >p {
            text-wrap: wrap;
            word-break: break-word;
            text-overflow: ellipsis;
            line-break: strict;
            white-space-collapse: preserve;
            font-weight: 400;
            margin-block-end: em(16px);
        }


        .show-more {
            display: flex;
            align-items: center;

            span:first-of-type {
                margin-inline-end: em(7px);
                font-weight: 600;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .stay-amenities {
        grid-column: 1;
        padding-block: em(48px);
        // border-block-end: 1px $bnb-gray3 solid;  

        h2 {
            padding-block-end: em(24px);
        }

        .amenities-list {
            display: grid;
            grid-template-columns: 1fr 1fr;

            li {
                display: flex;
                padding-block-end: em(16px);
                align-items: center;

                >:first-child {
                    margin-inline-end: em(16px);
                }
            }
        }
    }
}