
.card {
    background-color: $light-color;
    border: 1px solid $gray-color;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: $spacing-large;

    &__image {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    &__content {
        padding: $spacing-large;

        h3 {
            font-size: $font-size-large;
            margin-bottom: $spacing-small;
        }

        p {
            font-size: $font-size-base;
        }
    }
}

// .stay-preview {
//     a {
//         color: $clr4;
//         padding: 0;
//     }

//     p {
//         margin-block: 0 0.2rem;
//         font-size: .85em;
//     }
// }