.stay-reserve {
    display: grid;
    align-self: start;
    justify-self: end;
    grid-template-columns: 24px 1fr 24px;
    // grid-template-rows: min-content min-content min-content min-content;
    margin-block-start: 32px;
    row-gap: 0;
    grid-column: 2;
    grid-row: 1/4;
    padding-block: 24px;
    // margin-block-start: 32px;
    width: 372px;
    height: 459px;
    border: 1px $bnb-gray3 solid;
    font-weight: 400;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px 0px;

    >* {
        grid-column: 2;
    }

    .reserve-price {
        height: min-content;
        grid-row: 1;
        margin-block-end: 24px;

        >span:first-child {
            font-family: 'Airbnb Cereal VF-B',
                sans-serif;
            font-size: 22px;
            font-weight: 500;
            padding-inline-end: 3px;
        }
    }

    .reserve-form-wrapper {

        font-size: 14px;
        padding-block-end: 10px;
        height: min-content;

        label {
            // font-family: 'Airbnb Cereal VF-B',
            //     sans-serif;
            font-size: 10px;
            font-weight: 600;
        }

        form {
            display: grid;
            grid-template-columns: 160.67px 160.67px;
            grid-template-areas:
                'check-in checkout'
                'guests guests'
                'reserve-btn reserve-btn'
            ;

            input[type="date"]::-webkit-inner-spin-button,
            input[type="date"]::-webkit-calendar-picker-indicator {
                display: none;
                -webkit-appearance: none;
            }

            .check-in {
                grid-area: check-in;


            }

            .checkout {
                grid-area: checkout;

                >input {
                    border: 1px $bnb-gray5 solid;
                    border-inline-start: none;
                }


            }

            .check-in,
            .checkout {
                >input {

                    padding-inline-start: 12px;
                    padding-inline-end: 12px;
                    padding-block-start: 26px;
                    padding-block-end: 10px;
                }
            }

            .check-in,
            .checkout,
            .guests {
                position: relative;

                >label {
                    position: absolute;
                    top: 12px;
                    left: 12px;
                    cursor: pointer;
                }

                input {
                    width: 100%;
                    height: 100%;
                    text-align: start;
                    font-stretch: 100%;
                    font-size: 100%;
                    text-overflow: ellipsis;
                    cursor: pointer;
                }
            }

            .guests {
                grid-area: guests;
                // text-align: start;


                >input {
                    padding-inline-start: 12px;
                    padding-inline-end: 36px;
                    padding-block-start: 26px;
                    padding-block-end: 13px;
                    border: 1px $bnb-gray5 solid;
                    border-block-start: none;


                }
            }
        }

    }

    .reserve-button {
        position: relative;
        padding-inline-start: 24px;
        padding-inline-end: 24px;
        padding-block-start: 14px;
        padding-block-end: 14px;
        margin-block-start: 4px;
        height: 48px;
        background-image:
            radial-gradient(circle, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%,
                rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%,
                rgb(189, 30, 89) 100%);
        border-radius: 10px;
        text-align: center;
        transition-duration: 1.25s;
        transition-property: opacity;
        transition-timing-function: ease;

        text-decoration: none;


        span {
            // background: $bnb-red;
            font-family: 'Airbnb Cereal VF-B', sans-serif;
            text-align: center;
            color: white;
            cursor: pointer;

        }

    }

    .charge {
        text-align: center;
        font-size: 14px;
        height: 26px;
        padding-block-start: 15px;
        // margin-block-start: 16px;
    }

    .reserve-info {
        display: flex;
        flex-direction: column;



        >* {
            display: flex;
            justify-content: space-between;

            >span:first-of-type {
                text-decoration: underline;
            }


        }

        >:nth-child(1) {
            padding-block-start: 24px;
        }

        >:nth-child(2) {
            padding-block-start: 16px;
        }
    }

    .reserve-total-price {
        display: flex;
        font-family: $bnb-font-bold;
        border-block-start: 1px $bnb-gray5 solid;
        padding-block-start: 25px;
        margin-block-start: 22px;

        >:first-child {
            flex-grow: 1;
        }
    }
}