.filter-item {
    min-width: 56px;
    text-align: center;
    padding: 4px 0;
    margin: 12px 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;

    // העברתי את ההצהרה מעל הכללים המקוננים
    &.active {
        box-shadow: 0px 2px 0px 0px $bnb-black;

        .stay-labal-item {
            >span {
                color: black;
            }

            >img {
                filter: brightness(0) saturate(100%);
                // border: 2px solid red;
            }
        }

        &:hover {
            box-shadow: 0px 2px 0px 0px $bnb-black;
        }
    }

    .filter-label {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: 3px 3px 0 5px;
        }

        .stay-labal-item {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            cursor: pointer;

            img {
                opacity: 0.674208;
            }

            // העברתי את ההצהרה מעל הכללים המקוננים
            color: rgb(106, 106, 106);
            transition: color 0.3s ease;

            &:hover {
                color: black;
            }
        }
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0px 2px 0px 0px $bnb-gray3;
    }

    &:active {
        box-shadow: 0px 2px 0px 0px $bnb-black;
    }
}
