.main-container {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: minmax(1.4286rem, 5.7143rem) 1fr minmax(1.4286rem, 5.7143rem);

    &.details {
        grid-template-columns: 273px 1fr 273px;
    }


    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }
}

